.calculator
  width: 300px
  margin: 0 auto

.calculator-display
  height: 45px
  font-size: 1rem
  padding: 5px
  text-align: right

.calculator-buttons
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap

.calculator-button
  margin: 5px

.calculator-button--clear
  color: orange
  font-weight: bold

.calculator-button--0
  width: 130px
